/* App.css */

body {
  background-color: #000;
  color: rgb(220, 220, 220);
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  text-align: left;
}

a {
  color: rgb(196, 196, 196);
  text-decoration: none;
}
a:hover {
  color: #0ff;
}

a.selected {
  text-decoration: underline;
}

.kick {
  color: red;
}

.nokick {
  color: green;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

th, td {
  padding: 10px;
}

th {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .hideOnSmall {
    display: none;
  }
}

.networkSelector {
  text-align: center;
  margin-bottom: 20px;
}

.networkSelector a {
  margin-right: 1em;
}

.chartsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flagChart {
  width: 100%; /* Adjust this value as needed */
  min-width: 300px; /* Minimum width of a chart */
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
}