/* App.css */

body {
  background-color: #000;
  color: #0f0;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: #0f0;
  text-decoration: none;
}
a:hover {
  color: #0ff;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

th, td {
  padding: 10px;
}

th {
  text-align: left;
}
