/* App.css */

body {
  background-color: #000;
  color: rgb(220, 220, 220);
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: rgb(196, 196, 196);
  text-decoration: none;
}
a:hover {
  color: #0ff;
}

a.selected {
  text-decoration: underline;
}

.kick {
  color: red;
}

.nokick {
  color: green;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

th, td {
  padding: 10px;
}

th {
  text-align: left;
}
